In [41]:
import numpy as np #linear algebra
import pandas as pd #data processing 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)

# Importing into dataframe

df_IMDB_MovieCatalog = pd.read_excel("df_IMDB_MovieCatalog.xlsx")
df_Movie_Financials = pd.read_excel("df_Movie_Financials.xlsx")
df_KnownFor = pd.read_excel ('./Prj_Data/ImdbScrapingData/TheNumbers/output/df_starsplayers_knownForMovies.xlsx', sheet_name='Export')
df_Stars = pd.read_excel ('./Prj_Data/ImdbScrapingData/TheNumbers/output/df_starsplayers.xlsx', sheet_name='Export')

In [42]:
df_IMDB_MovieCatalog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31060 entries, 0 to 31059
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      31060 non-null  int64
 1   tconst          31060 non-null  object
 2   primaryTitle    31060 non-null  object
 3   startYear       31060 non-null  int64
 4   runtimeMinutes  31060 non-null  int64
 5   genres          31060 non-null  object
 6   startYear_str   31060 non-null  int64
 7   titleyear       31060 non-null  object
 8   studio_BOM      4560 non-null   object
 9   MPAA            2865 non-null   object
 10  rd              4560 non-null   datetime64[ns]
 11  StudioDesc      4057 non-null   object
dtypes: datetime64[ns](1), int64(4), object(7)
memory usage: 2.8+ MB

In [43]:
df_Mv = df_IMDB_MovieCatalog[["tconst", "primaryTitle", 'titleyear']]
df_fin = df_Movie_Financials[['tconst', 'P_Cost', 'Dom_Gross', 'Frgn_Gross', 'WW_Gross',
       'Domestic Opening']]

In [44]:
df_Mv_Fin = df_IMDB_MovieCatalog.merge(df_fin, on="tconst", how="inner")

In [45]:
df_Mv_Fin.columns

Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'startYear', 'runtimeMinutes',
       'genres', 'startYear_str', 'titleyear', 'studio_BOM', 'MPAA', 'rd',
       'StudioDesc', 'P_Cost', 'Dom_Gross', 'Frgn_Gross', 'WW_Gross',
       'Domestic Opening'],
      dtype='object')

In [47]:
df_Mv_Fin_s = df_Mv_Fin[['tconst', 'primaryTitle','startYear_str', 'titleyear','P_Cost', 
                       'Dom_Gross', 'Frgn_Gross', 'WW_Gross','Domestic Opening']]

In [48]:
df_KnownFor_s = df_KnownFor[[ 'Title', 'Actor',
       'Role', 'DomesticBoxOffice', 'Contribution','nameyear',"tconst"]]

In [12]:
# df_KnownFor.sort_values(by=['DomesticBoxOffice','Title'], ascending=False)

In [49]:
df_Stars = df_Stars[['Rank', 'Domestic Box Office', 'Movies','nameyear']]

In [52]:
df_KnownFor_withRank = df_Stars.merge(df_KnownFor_s, on="nameyear", how="right")

In [53]:
df_KnownFor_withRank.sort_values(by="DomesticBoxOffice", ascending=False).head(5)

       Rank  Domestic Box Office  Movies              nameyear                                       Title             Actor                            Role  DomesticBoxOffice Contribution     tconst
6047    271            699982160       6  Domhnall Gleeson1983  Star Wars: Episode Vii - The Force Awakens  Domhnall Gleeson                     General Hux          936662225        Actor  tt2488496
3679    126           1368465430       8       Andy Serkis1964  Star Wars: Episode Vii - The Force Awakens       Andy Serkis            Supreme Leader Snoke          936662225        Actor  tt2488496
22412    21           1585898377       6     Michael Arndt1973  Star Wars: Episode Vii - The Force Awakens     Michael Arndt  ScreenwriterAssociate Producer          936662225       Writer  tt2488496
13916    11           2050695080       6      George Lucas1944  Star Wars: Episode Vii - The Force Awakens      George Lucas               Character Creator          936662225       Writer  tt2488496
13351     5           2198878974       6       J.J. Abrams1966  Star Wars: Episode Vii - The Force Awakens       J.J. Abrams    DirectorScreenwriterProducer          936662225     Director  tt2488496

In [55]:
df_All = df_Mv_Fin.merge(df_KnownFor_withRank, on="tconst", how="inner")

In [59]:
df_All.columns

Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'startYear', 'runtimeMinutes',
       'genres', 'startYear_str', 'titleyear', 'studio_BOM', 'MPAA', 'rd',
       'StudioDesc', 'P_Cost', 'Dom_Gross', 'Frgn_Gross', 'WW_Gross',
       'Domestic Opening', 'Rank', 'Domestic Box Office', 'Movies', 'nameyear',
       'Title', 'Actor', 'Role', 'DomesticBoxOffice', 'Contribution'],
      dtype='object')

In [67]:
df_All[['primaryTitle',
       'genres', 'Dom_Gross','P_Cost', 'Domestic Opening', 'Contribution','Actor','Rank', 'Movies','Role','Domestic Box Office', ]].sort_values(by=["Dom_Gross", "Rank"], ascending = (False, True)).head(5)

                                     primaryTitle                   genres  Dom_Gross       P_Cost  Domestic Opening Contribution             Actor  Rank  Movies                          Role  Domestic Box Office
13141  Star Wars: Episode Vii - The Force Awakens  Action,Adventure,Sci-Fi  936662225  245000000.0         247966675     Producer  Kathleen Kennedy     2      35                      Producer           5999104450
13124  Star Wars: Episode Vii - The Force Awakens  Action,Adventure,Sci-Fi  936662225  245000000.0         247966675     Director       J.J. Abrams     5       6  DirectorScreenwriterProducer           2198878974
13127  Star Wars: Episode Vii - The Force Awakens  Action,Adventure,Sci-Fi  936662225  245000000.0         247966675     Producer       J.J. Abrams     5       6  DirectorScreenwriterProducer           2198878974
13130  Star Wars: Episode Vii - The Force Awakens  Action,Adventure,Sci-Fi  936662225  245000000.0         247966675       Writer       J.J. Abrams     5       6  DirectorScreenwriterProducer           2198878974
13108  Star Wars: Episode Vii - The Force Awakens  Action,Adventure,Sci-Fi  936662225  245000000.0         247966675        Actor     Harrison Ford     6      41                      Han Solo           4050693757

In [17]:
# df_Title_Basics['primaryTitle'].fillna("0", inplace=True)
# df_Title_Basics[df_Title_Basics['primaryTitle'].str.contains('Lord of the Rings')]

In [16]:
# df_Title_Episods[df_Title_Episods["tconst"]=="tt0077869"]
# df_Title_Episods[df_Title_Episods['primaryTitle'].str.contains('Lord of the Rings')]