In [4]:
import numpy as np #linear algebra
import pandas as pd #data processing 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)

In [5]:
df_IMDB_Akas = pd.read_csv("./data/DownLoadedData_Imdb/title.akas (1).tsv.gz", delimiter='\t', encoding='ANSI')
IM_title_Basics = pd.read_csv("./data/DownLoadedData_Imdb/title.basics (1).tsv.gz", delimiter='\t', encoding='ANSI')
df_MetaDataFromFinanceTables = pd.read_excel("./data/ImdbScrapingData/df_MasterFinancials_MetaData.xlsx")

C:\Users\rgpih\anaconda3a\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\rgpih\anaconda3a\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
#This table is used as a filter, filter on english and production type
df_IMDB_Akas = df_IMDB_Akas.loc[(df_IMDB_Akas['language']=='en')]
df_IMDB_Akas = df_IMDB_Akas.loc[(df_IMDB_Akas['types']=='imdbDisplay')]

In [7]:
df_IMDB_Akas = df_IMDB_Akas.drop_duplicates(subset='titleId', keep='first').drop(['types', 'attributes',"isOriginalTitle", 'region', "language", "ordering", "title"], axis=1)

IM_title_Basics = IM_title_Basics.loc[(IM_title_Basics['isAdult']==0)]
IM_title_Basics.drop(['isAdult', 'endYear', 'titleType', 'originalTitle'], axis=1, inplace=True)
IM_title_Basics["runtimeMinutes"] = IM_title_Basics.runtimeMinutes.replace(r'\N',0, regex=False)
IM_title_Basics['runtimeMinutes'] = IM_title_Basics['runtimeMinutes'].astype(int)
IM_title_Basics = IM_title_Basics.loc[(IM_title_Basics['runtimeMinutes']>60)]
IM_title_Basics["startYear"] = IM_title_Basics.startYear.replace(r'\N',0, regex=False)
IM_title_Basics['startYear'] = IM_title_Basics['startYear'].astype(int)
IM_title_Basics = IM_title_Basics.loc[(IM_title_Basics['startYear']>=2005) & (IM_title_Basics['startYear']<=2020)]
IM_title_Basics['startYear_str'] = IM_title_Basics['startYear'].astype(str)
IM_title_Basics['primaryTitle'] = IM_title_Basics['primaryTitle'].str.title()
IM_title_Basics['titleyear'] = IM_title_Basics['primaryTitle'] + IM_title_Basics['startYear_str']

In [8]:
df_IMDB_Akas_english = IM_title_Basics.merge(df_IMDB_Akas, left_on="tconst",right_on="titleId",indicator='ind_Link', how="inner")

In [9]:
df_IMDB_Akas_english.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31060 entries, 0 to 31059
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          31060 non-null  object
 1   primaryTitle    31060 non-null  object
 2   startYear       31060 non-null  int32
 3   runtimeMinutes  31060 non-null  int32
 4   genres          31060 non-null  object
 5   startYear_str   31060 non-null  object
 6   titleyear       31060 non-null  object
 7   titleId         31060 non-null  object
 8   ind_Link        31060 non-null  category
dtypes: category(1), int32(2), object(6)
memory usage: 1.9+ MB

In [169]:
df_IMDB_Akas_english.to_excel("df_IMDB_Akas_english.xlsx")

The code below brings in the metadata fields from the finances tables, for example studio, rating,

In [11]:
df_MetaDataFromFinanceTables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5540 entries, 0 to 5539
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5540 non-null   int64
 1   tconst             5540 non-null   object
 2   Genres_IMDB        4920 non-null   object
 3   MPAA               3315 non-null   object
 4   Running Time_IMDB  4915 non-null   object
 5   genres             4920 non-null   object
 6   originalTitle      4920 non-null   object
 7   pb_IMDB            5540 non-null   int64
 8   pb_TN              5540 non-null   int64
 9   rd_IMDB            4920 non-null   object
 10  rd_TN              1983 non-null   object
 11  runtimeMinutes     4920 non-null   object
 12  studio_BOM         1646 non-null   object
 13  studio_IMDB        4754 non-null   object
 14  title_BOM          1647 non-null   object
 15  title_IMDB         4920 non-null   object
 16  title_TN           1983 non-null   object
 17  titleyear_IM       4920 non-null   object
 18  titleyear_fl       2609 non-null   object
 19  year               4920 non-null   float64
 20  year_BOM           1647 non-null   float64
 21  year_TN            1983 non-null   float64
 22  titleyear          4920 non-null   object
dtypes: float64(3), int64(3), object(17)
memory usage: 995.6+ KB

In [10]:
df_IMDB_Akas_english.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31060 entries, 0 to 31059
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          31060 non-null  object
 1   primaryTitle    31060 non-null  object
 2   startYear       31060 non-null  int32
 3   runtimeMinutes  31060 non-null  int32
 4   genres          31060 non-null  object
 5   startYear_str   31060 non-null  object
 6   titleyear       31060 non-null  object
 7   titleId         31060 non-null  object
 8   ind_Link        31060 non-null  category
dtypes: category(1), int32(2), object(6)
memory usage: 1.9+ MB

Data belwo is for quick cutting and copying for testing :)

In [170]:
df_IMDB_Akas_english.titleyear.nunique()

30893

In [171]:
df_IMDB_Akas_english.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31060 entries, 0 to 31059
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          31060 non-null  object
 1   primaryTitle    31060 non-null  object
 2   startYear       31060 non-null  int32
 3   runtimeMinutes  31060 non-null  int32
 4   genres          31060 non-null  object
 5   startYear_str   31060 non-null  object
 6   titleyear       31060 non-null  object
 7   titleId         31060 non-null  object
 8   ind_Link        31060 non-null  category
dtypes: category(1), int32(2), object(6)
memory usage: 1.9+ MB

In [176]:
df_Scrp_Financials = pd.read_excel("./data/ImdbScrapingData/df_Financials_SummaryAndDetail_Imdb_Dom.xlsx")
testingLink = df_IMDB_Akas_english.merge(df_Scrp_Financials, on="tconst",indicator='ind_Link1', how="inner")

In [177]:
testingLink.groupby(["ind_Link1"])["ind_Link1"].count()

ind_Link1
left_only        0
right_only       0
both          3937
Name: ind_Link1, dtype: int64

In [182]:
#testingLink.info()

In [181]:
testingLink.loc[testingLink['tconst'] == "tt0499549"][["primaryTitle_x", "tconst"]]
# .loc[df_IMDB_Akas['tconst'] == "tt0499549"][["primaryTitle", "tconst"]]
# df_IMDB_Akas_english[df_IMDB_Akas_english.primaryTitle.str.contains('Happy Together', case=False)]

    primaryTitle_x     tconst
643         Avatar  tt0499549

In [173]:
df_IMDB_Akas_english.primaryTitle.nunique()

29516

In [174]:
df_IMDB_Akas_english.loc[df_IMDB_Akas_english['tconst'] == "tt0499549"][["primaryTitle", "tconst"]]

     primaryTitle     tconst
1527       Avatar  tt0499549