In [ ]:
import numpy as np #linear algebra
import pandas as pd #data processing 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)

# Importing into dataframe
# df_Title_Basics = pd.read_csv("./Prj_Data/DownLoadedData_Imdb/title.basics (1).tsv.gz", delimiter='\t', encoding='ANSI')
df_Name_Basics = pd.read_csv("./Prj_Data/DownLoadedData_Imdb/name.basics (1).tsv.gz", delimiter='\t', encoding='ANSI')
df_Title_Crew = pd.read_csv("./Prj_Data/DownLoadedData_Imdb/title.crew (1).tsv.gz", delimiter='\t', encoding='ANSI')
# df_Title_Episods = pd.read_csv("./Prj_Data/DownLoadedData_Imdb/title.episode (1).tsv.gz", delimiter='\t', encoding='ANSI')
df_Title_Princ = pd.read_csv("./Prj_Data/DownLoadedData_Imdb/title.principals (1).tsv.gz", delimiter='\t', encoding='ANSI')
df_Title_Ratings = pd.read_csv("./Prj_Data/DownLoadedData_Imdb/title.ratings (2).tsv.gz", delimiter='\t', encoding='ANSI')

# df_Generes_With_tconst = pd.read_excel("df_Generes_With_tconst.xlsx")
df_IMDB_MovieCatalog = pd.read_excel("df_IMDB_MovieCatalog.xlsx")
# df_Movie_Financials = pd.read_excel("df_Movie_Financials.xlsx")
# df_starsAct = pd.read_excel ('StarEarnings.xlsx', sheet_name='LeadActors')
# df_starswrter = pd.read_excel ('StarEarnings.xlsx', sheet_name='ScreenWriter')
# df_starsDir = pd.read_excel ('StarEarnings.xlsx', sheet_name='Director')
# df_starsProd = pd.read_excel ('StarEarnings.xlsx', sheet_name='Producers')



#df_IMDB_Akas_english = pd.read_excel("./Prj_Data/DownLoadedData_Imdb/df_IMDB_Akas_english.xlsx")

In [13]:
df_IMDB_MovieCatalog = pd.read_excel("df_IMDB_MovieCatalog.xlsx")

In [14]:
df_IMDB_MovieCatalog.head()

   Unnamed: 0     tconst                primaryTitle  startYear  runtimeMinutes                    genres  startYear_str                       titleyear studio_BOM   MPAA         rd             StudioDesc
0           0  tt0069049  The Other Side Of The Wind       2018             122                     Drama           2018  The Other Side Of The Wind2018        NaN    NaN        NaT                    NaN
1           1  tt0100275    The Wandering Soap Opera       2017              80      Comedy,Drama,Fantasy           2017    The Wandering Soap Opera2017        NaN    NaN        NaT                    NaN
2           2  tt0118141                 What Is It?       2005              72                     Drama           2005                 What Is It?2005        NaN    NaN        NaT                    NaN
3           3  tt0119970               My Apocalypse       2008              82       Comedy,Drama,Sci-Fi           2008               My Apocalypse2008        NaN    NaN        NaT                    NaN
4           4  tt0120667              Fantastic Four       2005             106  Action,Adventure,Fantasy           2005              Fantastic Four2005          0  PG-13 2005-07-06  Twentieth Century Fox

In [2]:
df_Title_Basics.head()

      tconst titleType            primaryTitle           originalTitle  isAdult startYear endYear runtimeMinutes                    genres
0  tt0000001     short              Carmencita              Carmencita        0      1894      \N              1         Documentary,Short
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens        0      1892      \N              5           Animation,Short
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot        0      1892      \N              4  Animation,Comedy,Romance
3  tt0000004     short             Un bon bock             Un bon bock        0      1892      \N             12           Animation,Short
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene        0      1893      \N              1              Comedy,Short

In [3]:
df_Title_Basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7200066 entries, 0 to 7200065
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: int64(1), object(8)
memory usage: 494.4+ MB

In [5]:
df_Name_Basics.head()

      nconst      primaryName birthYear deathYear                    primaryProfession                           knownForTitles
0  nm0000001     Fred Astaire      1899      1987       soundtrack,actor,miscellaneous  tt0050419,tt0053137,tt0031983,tt0072308
1  nm0000002    Lauren Bacall      1924      2014                   actress,soundtrack  tt0038355,tt0071877,tt0037382,tt0117057
2  nm0000003  Brigitte Bardot      1934        \N  actress,soundtrack,music_department  tt0054452,tt0059956,tt0057345,tt0049189
3  nm0000004     John Belushi      1949      1982              actor,soundtrack,writer  tt0077975,tt0072562,tt0080455,tt0078723
4  nm0000005   Ingmar Bergman      1918      2007                writer,director,actor  tt0083922,tt0050976,tt0050986,tt0060827

In [6]:
df_Name_Basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10395071 entries, 0 to 10395070
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 475.8+ MB

In [7]:
df_Name_Basics["knownForTitle"] = df_Name_Basics["knownForTitles"].str.split(",")
df_Name_Basics_Exploded = df_Name_Basics.explode("knownForTitle")

In [9]:
df_Name_Basics_Exploded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18194928 entries, 0 to 10395070
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
 6   knownForTitle      object
dtypes: object(7)
memory usage: 1.1+ GB

In [10]:
df_Name_Basics_Exploded.head()

      nconst    primaryName birthYear deathYear               primaryProfession                           knownForTitles knownForTitle
0  nm0000001   Fred Astaire      1899      1987  soundtrack,actor,miscellaneous  tt0050419,tt0053137,tt0031983,tt0072308     tt0050419
0  nm0000001   Fred Astaire      1899      1987  soundtrack,actor,miscellaneous  tt0050419,tt0053137,tt0031983,tt0072308     tt0053137
0  nm0000001   Fred Astaire      1899      1987  soundtrack,actor,miscellaneous  tt0050419,tt0053137,tt0031983,tt0072308     tt0031983
0  nm0000001   Fred Astaire      1899      1987  soundtrack,actor,miscellaneous  tt0050419,tt0053137,tt0031983,tt0072308     tt0072308
1  nm0000002  Lauren Bacall      1924      2014              actress,soundtrack  tt0038355,tt0071877,tt0037382,tt0117057     tt0038355

In [ ]:
df_Name_Basics[df_Name_Basics["primaryName"].str.contains("Tom Cruise")]

In [ ]:
df_Title_Crew_Director = df_Title_Crew[["tconst","directors"]].drop_duplicates().replace(r'\N',"0", regex=False).fillna("0")
df_Title_Crew_Director = df_Title_Crew_Director[~df_Title_Crew_Director['directors'].isin(['0'])]
df_Title_Crew_Director["director"] = df_Title_Crew_Director["directors"].str.split(",")
df_Title_Crew_Director = df_Title_Crew_Director.explode("director")
# df_Title_Crew_Exploded_a =

In [ ]:
df_Title_Crew_Writer = df_Title_Crew[["tconst","writers"]].drop_duplicates().replace(r'\N',"0", regex=False).fillna("0")
df_Title_Crew_Writer = df_Title_Crew_Writer[~df_Title_Crew_Writer['writers'].isin(['0'])]
df_Title_Crew_Writer["writer"] = df_Title_Crew_Writer["writers"].str.split(",")
df_Title_Crew_Writer = df_Title_Crew_Writer.explode("writer")

In [ ]:
df_Title_Crew_Writer.head(1)

In [ ]:
df_Title_Episods.head(100)

In [ ]:
df_Title_Episods[df_Title_Episods["tconst"]=="tt0077869"]
# df_Title_Episods[df_Title_Episods['primaryTitle'].str.contains('Lord of the Rings')]

In [ ]:
df_Title_Basics['primaryTitle'].fillna("0", inplace=True)
df_Title_Basics[df_Title_Basics['primaryTitle'].str.contains('Lord of the Rings')]

In [ ]:
df_Title_Princ.head()

In [ ]:
df_Title_Ratings.head()