In [1]:
import pandas as pd
import numpy as np
import re 
import requests 
import matplotlib 
import seaborn as sns
from bs4 import BeautifulSoup 
from pandasql import sqldf
%matplotlib inline
import sqlite3

In [2]:
#CSV files
dfcsv_1 = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
dfcsv_2 = pd.read_csv('zippedData/imdb.name.basics.csv.gz')
dfcsv_3 = pd.read_csv('zippedData/imdb.title.akas.csv.gz')
dfcsv_4 = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
dfcsv_5 = pd.read_csv('zippedData/imdb.title.crew.csv.gz')
dfcsv_6 = pd.read_csv('zippedData/imdb.title.principals.csv.gz')
dfcsv_7 = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
dfcsv_8 = pd.read_csv('zippedData/tmdb.movies.csv.gz')

In [3]:
#TSV FILES
dftsv_1= pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t',encoding='utf-8')
dftsv_2 = pd.read_csv('zippedData/rt.reviews.tsv.gz', delimiter='\t',encoding='unicode_escape')

In [4]:
#    STARTING COLUMNS 
#dfcsv_1 'title', 'studio', 'domestic_gross', 'foreign_gross', 'year'
#dfcsv_2 'nconst', 'primary_name', 'birth_year', 'death_year', 'primary_profession', 'known_for_titles'
#dfcsv_3 'title_id', 'ordering', 'title', 'region', 'language', 'types', 'attributes', 'is_original_title'
#dfcsv_4 'tconst', 'primary_title', 'original_title', 'start_year', 'runtime_minutes', 'genres'
#dfcsv_5 'tconst', 'directors', 'writers'
#dfcsv_6 'tconst', 'ordering', 'nconst', 'category', 'job', 'characters'
#dfcsv_7 'tconst', 'averagerating', 'numvotes'
#dfcsv_8 'Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title', 'popularity', 'release_date', 
#        'title', 'vote_average', 'vote_count'

#dftsv_1 'id', 'synopsis', 'rating', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 
#        'box_office', 'runtime', 'studio'
#dftsv_2 'id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher', 'date'

In [5]:
dftsv_1['rating'].rename('parent_rating') #name slightly misleading 

#keeping non-numeric columns with few NaN values so we could still use 
#to groupby or search from, can always drop later subbing for unknown 
#so we don't get and NaN errors 

clean1 = dfcsv_1.drop(labels='foreign_gross', axis=1).fillna(dfcsv_1['domestic_gross'].median())
clean2 = dfcsv_2.drop(labels='birth_year', axis=1).drop(labels='death_year', axis=1).fillna('unknown')
clean3 = dfcsv_3.drop(labels='attributes', axis=1).drop(labels='language', axis=1).drop(labels='types', axis=1).fillna('unknown')
clean4 = dfcsv_4.fillna(dfcsv_4['runtime_minutes'].median()).fillna('unknown')
clean5 = dfcsv_5.fillna('unknown')
clean6 = dfcsv_6.drop(labels='job', axis=1).drop(labels='characters', axis=1)
clean7 = dfcsv_7
#numvotes range wildly making votes less accurate if not sorted to be in certain thresholds 
clean8 = dfcsv_8.drop(labels='Unnamed: 0', axis=1).drop(labels='popularity', axis=1)
#columns full but useless 
clean9 = dftsv_2.drop(labels='rating', axis=1).fillna('unknown')
#rating probably not worth trying to add, would have to convert a lot to determine mean/med/mode
#review subbed for unknown so we could still use to search 
clean10 = dftsv_1 #Really short but lots of data, join on left & right in sep DF w/clean1

In [6]:
#    SUGGESTED CLEANED COLUMNS
#clean1 'title', 'studio', 'foreign_gross', 'year'
#clean_2 'nconst', 'primary_name', 'primary_profession', 'known_for_titles'
#clean_3 'title_id', 'ordering', 'title', 'region', 'is_original_title'
#clean_4 'tconst', 'primary_title', 'original_title', 'start_year', 'runtime_minutes', 'genres'
#clean_5 'tconst', 'directors', 'writers'
#clean_6 'tconst', 'ordering', 'nconst', 'category'
#clean_7 'tconst', 'averagerating', 'numvotes'
#clean_8 'genre_ids', 'id', 'original_language', 'original_title', 'release_date', 'title', 'vote_average', 'vote_count'

#clean_9 'id', 'synopsis', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime', 'studio'
#clean_10 'id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher', 'date'

In [7]:
c1 = clean1.groupby(['studio', 'title']).mean()
c3 = clean3.groupby(['title_id', 'title', 'region']).mean()
#some meaningful groupings

In [34]:
#playing around to find the largest dataframe that could help connect everything, think sql is going to be a better move 
the_df_to_merge_them_all = clean1.merge(clean3, how='inner', on='title').merge(clean8,  how='inner', on='title').merge(clean4,  how='inner', on='original_title').merge(clean5, how='inner', on='tconst').merge(clean6, how='inner', on='tconst').merge(clean7, how='inner', on='tconst').merge(clean2, how='inner', on='nconst')
the_df_to_merge_them_all

,title,studio,domestic_gross,year,title_id,ordering_x,region,is_original_title,genre_ids,id,...,directors,writers,ordering_y,nconst,category,averagerating,numvotes,primary_name,primary_profession,known_for_titles
0,Toy Story 3,BV,415000000.0,2010,tt0435761,15,DK,0,"[16, 10751, 35]",10193,...,nm0881279,"nm0005124,nm0004056,nm0881279,nm1578335",10,nm0005271,composer,8.3,682218,Randy Newman,"soundtrack,music_department,composer","tt0435761,tt0114709,tt0780521,tt0212338"
1,Toy Story 3,BV,415000000.0,2010,tt0435761,20,UY,0,"[16, 10751, 35]",10193,...,nm0881279,"nm0005124,nm0004056,nm0881279,nm1578335",10,nm0005271,composer,8.3,682218,Randy Newman,"soundtrack,music_department,composer","tt0435761,tt0114709,tt0780521,tt0212338"
2,Toy Story 3,BV,415000000.0,2010,tt0435761,21,JP,0,"[16, 10751, 35]",10193,...,nm0881279,"nm0005124,nm0004056,nm0881279,nm1578335",10,nm0005271,composer,8.3,682218,Randy Newman,"soundtrack,music_department,composer","tt0435761,tt0114709,tt0780521,tt0212338"
3,Toy Story 3,BV,415000000.0,2010,tt0435761,22,ES,0,"[16, 10751, 35]",10193,...,nm0881279,"nm0005124,nm0004056,nm0881279,nm1578335",10,nm0005271,composer,8.3,682218,Randy Newman,"soundtrack,music_department,composer","tt0435761,tt0114709,tt0780521,tt0212338"
4,Toy Story 3,BV,415000000.0,2010,tt0435761,27,unknown,1,"[16, 10751, 35]",10193,...,nm0881279,"nm0005124,nm0004056,nm0881279,nm1578335",10,nm0005271,composer,8.3,682218,Randy Newman,"soundtrack,music_department,composer","tt0435761,tt0114709,tt0780521,tt0212338"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157127,An Actor Prepares,Grav.,1700.0,2018,tt5718046,6,US,0,"[35, 18]",434596,...,nm1467663,"nm1467663,nm2659289",6,nm2659289,writer,5.0,388,Thomas Moffett,"writer,actor,miscellaneous","tt1247692,tt1037090,tt5718046,tt3703512"
157128,An Actor Prepares,Grav.,1700.0,2018,tt5718046,1,unknown,1,"[35, 18]",434596,...,nm1467663,"nm1467663,nm2659289",7,nm1520505,producer,5.0,388,Tom Butterfield,"producer,production_manager,executive","tt2788716,tt1724597,tt5718046"
157129,An Actor Prepares,Grav.,1700.0,2018,tt5718046,6,US,0,"[35, 18]",434596,...,nm1467663,"nm1467663,nm2659289",7,nm1520505,producer,5.0,388,Tom Butterfield,"producer,production_manager,executive","tt2788716,tt1724597,tt5718046"
157130,An Actor Prepares,Grav.,1700.0,2018,tt5718046,1,unknown,1,"[35, 18]",434596,...,nm1467663,"nm1467663,nm2659289",8,nm1396395,producer,5.0,388,Tom Lassally,"producer,manager,writer","tt0371257,tt1758795,tt2575988,tt1631867"
157131,An Actor Prepares,Grav.,1700.0,2018,tt5718046,6,US,0,"[35, 18]",434596,...,nm1467663,"nm1467663,nm2659289",8,nm1396395,producer,5.0,388,Tom Lassally,"producer,manager,writer","tt0371257,tt1758795,tt2575988,tt1631867"

In [45]:
the_df_to_merge_them_all.groupby(['studio', 'title']).mean()
#grouping some sets of data that make sense together

                                                   domestic_gross    year  \
studio title
3D     Sea Rex 3D: Journey to a Prehistoric World       6100000.0  2010.0
A23    Red Obsession                                      13200.0  2013.0
       Revenge of the Electric Car                       151000.0  2011.0
A24    20th Century Women                               5700000.0  2016.0
       A Ghost Story                                    1600000.0  2017.0
...                                                           ...     ...
Zeit.  Don't Call Me Son                                  11700.0  2016.0
       Elena                                             233000.0  2012.0
       Hannah Arendt                                     717000.0  2013.0
       The Pervert's Guide to Ideology                    68000.0  2013.0
       The Tree                                           71200.0  2011.0

                                                   ordering_x        id  \
studio title
3D     Sea Rex 3D: Journey to a Prehistoric World    6.500000   78394.0
A23    Red Obsession                                 5.000000  174358.0
       Revenge of the Electric Car                   3.500000   67619.0
A24    20th Century Women                           14.500000  342737.0
       A Ghost Story                                 7.000000  428449.0
...                                                       ...       ...
Zeit.  Don't Call Me Son                             5.000000  382455.0
       Elena                                         5.866667  160859.0
       Hannah Arendt                                 8.909091  121873.0
       The Pervert's Guide to Ideology              10.500000  128190.0
       The Tree                                      3.400000  260635.0

                                                   vote_average  vote_count  \
studio title
3D     Sea Rex 3D: Journey to a Prehistoric World           7.4        12.0
A23    Red Obsession                                        6.1        10.0
       Revenge of the Electric Car                          6.7        12.0
A24    20th Century Women                                   7.4       504.0
       A Ghost Story                                        7.0       906.0
...                                                         ...         ...
Zeit.  Don't Call Me Son                                    6.4        26.0
       Elena                                                8.2        23.0
       Hannah Arendt                                        7.2       138.0
       The Pervert's Guide to Ideology                      7.5        52.0
       The Tree                                             6.8        30.5

                                                    start_year  \
studio title
3D     Sea Rex 3D: Journey to a Prehistoric World  2010.000000
A23    Red Obsession                               2013.000000
       Revenge of the Electric Car                 2011.000000
A24    20th Century Women                          2016.000000
       A Ghost Story                               2017.000000
...                                                        ...
Zeit.  Don't Call Me Son                           2016.000000
       Elena                                       2012.333333
       Hannah Arendt                               2012.000000
       The Pervert's Guide to Ideology             2012.000000
       The Tree                                    2013.111111

                                                   runtime_minutes  \
studio title
3D     Sea Rex 3D: Journey to a Prehistoric World        41.000000
A23    Red Obsession                                     75.000000
       Revenge of the Electric Car                       90.000000
A24    20th Century Women                               119.000000
       A Ghost Story                                     92.000000
...                                                            ...
Zeit.  Don't Call Me Son                                 82.000000
       Elena                                             92.000000
       Hannah Arendt                                    113.000000
       The Pervert's Guide to Ideology                  136.000000
       The Tree                                          97.777778

                                                   ordering_y  averagerating  \
studio title
3D     Sea Rex 3D: Journey to a Prehistoric World    5.500000       6.900000
A23    Red Obsession                                 5.500000       6.700000
       Revenge of the Electric Car                   5.500000       7.200000
A24    20th Century Women                            5.500000       7.300000
       A Ghost Story                                 5.500000       6.800000
...                                                       ...            ...
Zeit.  Don't Call Me Son                             5.500000       6.800000
       Elena                                         5.500000       6.033333
       Hannah Arendt                                 5.500000       7.100000
       The Pervert's Guide to Ideology               4.500000       7.600000
       The Tree                                      5.055556       6.644444

                                                       numvotes
studio title
3D     Sea Rex 3D: Journey to a Prehistoric World    364.000000
A23    Red Obsession                                1167.000000
       Revenge of the Electric Car                  1692.000000
A24    20th Century Women                          32057.000000
       A Ghost Story                               46280.000000
...                                                         ...
Zeit.  Don't Call Me Son                            1102.000000
       Elena                                        4211.000000
       Hannah Arendt                                9423.000000
       The Pervert's Guide to Ideology              5578.000000
       The Tree                                     2355.555556

[1994 rows x 11 columns]

In [53]:
the_df_to_merge_them_all.drop_duplicates(subset='title_id').drop(labels='region', axis=1).drop(labels='title_id', axis=1).drop(labels='directors', axis=1).drop(labels='writers', axis=1)
#doing the same thing by dropping duplicates

,title,studio,domestic_gross,year,ordering_x,is_original_title,genre_ids,id,original_language,original_title,...,runtime_minutes,genres,ordering_y,nconst,category,averagerating,numvotes,primary_name,primary_profession,known_for_titles
0,Toy Story 3,BV,415000000.0,2010,15,0,"[16, 10751, 35]",10193,en,Toy Story 3,...,103.0,"Adventure,Animation,Comedy",10,nm0005271,composer,8.3,682218,Randy Newman,"soundtrack,music_department,composer","tt0435761,tt0114709,tt0780521,tt0212338"
11,Monsters University,BV,268500000.0,2013,20,1,"[16, 10751]",62211,en,Monsters University,...,104.0,"Adventure,Animation,Comedy",10,nm0005271,composer,7.3,291887,Randy Newman,"soundtrack,music_department,composer","tt0435761,tt0114709,tt0780521,tt0212338"
28,Larry Crowne,Uni.,35600000.0,2011,12,0,"[35, 10749, 18]",59861,en,Larry Crowne,...,98.0,"Comedy,Drama,Romance",1,nm0000158,actor,6.1,58927,Tom Hanks,"producer,actor,soundtrack","tt0094737,tt0162222,tt0120815,tt0109830"
37,Extremely Loud & Incredibly Close,WB,31800000.0,2011,13,0,[18],64685,en,Extremely Loud & Incredibly Close,...,129.0,"Adventure,Drama,Mystery",2,nm0000158,actor,6.9,93164,Tom Hanks,"producer,actor,soundtrack","tt0094737,tt0162222,tt0120815,tt0109830"
39,Cloud Atlas,WB,27100000.0,2012,17,0,"[18, 878]",83542,en,Cloud Atlas,...,172.0,"Action,Drama,Mystery",1,nm0000158,actor,7.4,326473,Tom Hanks,"producer,actor,soundtrack","tt0094737,tt0162222,tt0120815,tt0109830"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148083,The Ornithologist,Strand,50500.0,2017,11,0,"[12, 18]",377274,pt,O Ornitólogo,...,117.0,"Adventure,Drama,Mystery",1,nm5524273,actor,6.3,2426,Paul Hamy,actor,"tt4929038,tt2298416,tt6230134,tt6136188"
154361,The Dawn Wall,Orch.,112000.0,2018,3,0,"[99, 12]",489471,en,The Dawn Wall,...,100.0,"Adventure,Biography,Documentary",2,nm2225545,actor,8.1,6993,Tommy Caldwell,camera_department,"tt3472894,tt2250763,tt0420397,tt7775622"
155436,Maria by Callas,SPC,1300000.0,2018,11,1,[99],465871,en,Maria by Callas,...,119.0,"Biography,Documentary,Music",10,nm0428315,editor,7.2,867,Janice Jones,editor,"tt2134092,tt0444200,tt0247153,tt0374921"
156239,Summer 1993,Osci.,186000.0,2018,17,0,[18],438634,ca,Estiu 1993,...,97.0,"Drama,Family",10,nm4722667,editor,7.2,4681,Didac Palou,"editor,visual_effects","tt5897636,tt4012110,tt7613342,tt7730856"
156756,Under the Tree,Magn.,67600.0,2018,10,0,"[18, 35]",472640,is,Undir trénu,...,89.0,"Comedy,Drama,Mystery",10,nm1154710,composer,6.9,2486,Daníel Bjarnason,composer,"tt1950349,tt0314577,tt6223806,tt1764275"