In [1]:
import pandas as pd
import numpy as np
import re 
import requests 
import matplotlib 
import seaborn as sns
from bs4 import BeautifulSoup 
from pandasql import sqldf
%matplotlib inline
import sqlite3

In [2]:
#CSV files
dfcsv_1 = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
dfcsv_2 = pd.read_csv('zippedData/imdb.name.basics.csv.gz')
dfcsv_3 = pd.read_csv('zippedData/imdb.title.akas.csv.gz')
dfcsv_4 = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
dfcsv_5 = pd.read_csv('zippedData/imdb.title.crew.csv.gz')
dfcsv_6 = pd.read_csv('zippedData/imdb.title.principals.csv.gz')
dfcsv_7 = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
dfcsv_8 = pd.read_csv('zippedData/tmdb.movies.csv.gz')

In [3]:
#TSV FILES
dftsv_1= pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t',encoding='utf-8')
dftsv_2 = pd.read_csv('zippedData/rt.reviews.tsv.gz', delimiter='\t',encoding='unicode_escape')

In [4]:
#    STARTING COLUMNS 
#dfcsv_1 'title', 'studio', 'domestic_gross', 'foreign_gross', 'year'
#dfcsv_2 'nconst', 'primary_name', 'birth_year', 'death_year', 'primary_profession', 'known_for_titles'
#dfcsv_3 'title_id', 'ordering', 'title', 'region', 'language', 'types', 'attributes', 'is_original_title'
#dfcsv_4 'tconst', 'primary_title', 'original_title', 'start_year', 'runtime_minutes', 'genres'
#dfcsv_5 'tconst', 'directors', 'writers'
#dfcsv_6 'tconst', 'ordering', 'nconst', 'category', 'job', 'characters'
#dfcsv_7 'tconst', 'averagerating', 'numvotes'
#dfcsv_8 'Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title', 'popularity', 'release_date', 
#        'title', 'vote_average', 'vote_count'

#dftsv_1 'id', 'synopsis', 'rating', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 
#        'box_office', 'runtime', 'studio'
#dftsv_2 'id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher', 'date'

In [5]:
dftsv_1['rating'].rename('parent_rating') #name slightly misleading 

#keeping non-numeric columns with few NaN values so we could still use 
#to groupby or search from, can always drop later subbing for unknown 
#so we don't get and NaN errors 

clean1 = dfcsv_1.fillna(dfcsv_1['domestic_gross']).fillna(dfcsv_1['domestic_gross'].median())
clean2 = dfcsv_2.drop(labels='birth_year', axis=1).drop(labels='death_year', axis=1).fillna('unknown')
clean3 = dfcsv_3.drop(labels='attributes', axis=1).drop(labels='language', axis=1).drop(labels='types', axis=1).fillna('unknown')
clean4 = dfcsv_4.fillna(dfcsv_4['runtime_minutes'].median()).fillna('unknown')
clean5 = dfcsv_5.fillna('unknown')
clean6 = dfcsv_6.drop(labels='job', axis=1).drop(labels='characters', axis=1)
clean7 = dfcsv_7
#numvotes range wildly making votes less accurate if not sorted to be in certain thresholds 
clean8 = dfcsv_8.drop(labels='Unnamed: 0', axis=1).drop(labels='popularity', axis=1)
#columns full but useless 
clean9 = dftsv_2.drop(labels='rating', axis=1).fillna('unknown')
#rating probably not worth trying to add, would have to convert a lot to determine mean/med/mode
#review subbed for unknown so we could still use to search 
clean10 = dftsv_1 #Really short but lots of data, join on left & right in sep DF w/clean1

In [6]:
#    SUGGESTED CLEANED COLUMNS
#clean1 'title', 'studio', 'foreign_gross', 'year'
#clean2 'nconst', 'primary_name', 'primary_profession', 'known_for_titles'
#clean3 'title_id', 'ordering', 'title', 'region', 'is_original_title'
#clean4 'tconst', 'primary_title', 'original_title', 'start_year', 'runtime_minutes', 'genres'
#clean5 'tconst', 'directors', 'writers'
#clean6 'tconst', 'ordering', 'nconst', 'category'
#clean7 'tconst', 'averagerating', 'numvotes'
#clean8 'genre_ids', 'id', 'original_language', 'original_title', 'release_date', 'title', 'vote_average', 'vote_count'

#clean9 'id', 'synopsis', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime', 'studio'
#clean10 'id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher', 'date'

In [7]:
c1 = clean1.groupby(['studio', 'title']).mean()
c3 = clean3.groupby(['title_id', 'title', 'region']).mean()
#some meaningful groupings

In [188]:
#playing around to find the largest dataframe that could help connect everything, think sql is going to be a better move 
the_df_to_merge_them_all = clean1.merge(clean3, how='inner', on='title').merge(clean8,  how='inner', on='title').merge(clean4,  how='inner', on='original_title').merge(clean5, how='inner', on='tconst').merge(clean6, how='inner', on='tconst').merge(clean7, how='inner', on='tconst').merge(clean2, how='inner', on='nconst').merge(clean7, how='inner', on='tconst')
the_df_to_merge_them_all.sort_values(by='title_id', ascending=False)

,title,studio,domestic_gross,foreign_gross,year,title_id,ordering_x,region,is_original_title,genre_ids,...,ordering_y,nconst,category,averagerating_x,numvotes_x,primary_name,primary_profession,known_for_titles,averagerating_y,numvotes_y
90904,Gold,Wein.,7200000.0,7700000,2017,tt9816988,1,XWW,0,"[12, 18, 53]",...,10,nm1628769,composer,7.4,9361,Sachin Sanghvi,"composer,soundtrack,music_department","tt2436516,tt2357926,tt5235880,tt3678782",7.4,9361
118273,Gold,Wein.,7200000.0,7700000,2017,tt9816988,1,XWW,0,"[12, 18, 53]",...,6,nm2695406,writer,6.7,1298,Brendan Heery,"writer,art_department","tt0932755,tt3134422",6.7,1298
91094,Gold,Wein.,7200000.0,7700000,2017,tt9816988,1,XWW,0,"[10751, 35, 18]",...,6,nm2474980,writer,7.4,9361,Rajesh Devraj,writer,"tt6173990,tt2404027,tt1176911,tt0456407",7.4,9361
91048,Gold,Wein.,7200000.0,7700000,2017,tt9816988,1,XWW,0,"[12, 18, 53]",...,5,nm1030373,director,7.4,9361,Reema Kagti,"writer,producer,assistant_director","tt6494622,tt1562872,tt0169102,tt1787988",7.4,9361
91047,Gold,Wein.,7200000.0,7700000,2017,tt9816988,1,XWW,0,"[12, 18, 53]",...,5,nm1030373,director,7.4,9361,Reema Kagti,"writer,producer,assistant_director","tt6494622,tt1562872,tt0169102,tt1787988",7.4,9361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7203,On the Road,IFC,744000.0,8000000,2012,tt0337692,15,unknown,1,"[12, 18]",...,8,nm0178910,producer,6.1,37886,Roman Coppola,"producer,writer,director","tt0432283,tt0078788,tt1748122,tt0838221",6.1,37886
7210,On the Road,IFC,744000.0,8000000,2012,tt0337692,15,unknown,1,"[12, 18]",...,10,nm0439768,producer,6.1,37886,Nathanaël Karmitz,"producer,director,actor","tt0337692,tt1650048,tt6543652,tt2427892",6.1,37886
7217,On the Road,IFC,744000.0,8000000,2012,tt0337692,15,unknown,1,"[12, 18]",...,9,nm0318570,producer,6.1,37886,Charles Gillibert,"producer,actor,production_manager","tt2427892,tt0337692,tt3966404,tt1650048",6.1,37886
7224,On the Road,IFC,744000.0,8000000,2012,tt0337692,15,unknown,1,"[12, 18]",...,1,nm0727165,actor,6.1,37886,Sam Riley,"actor,soundtrack","tt0337692,tt0421082,tt1374989,tt1587310",6.1,37886
117418,On the Road,IFC,744000.0,8000000,2012,tt0337692,15,unknown,1,"[12, 18]",...,5,nm7042284,editor,6.0,6,Tue Nguyen,"editor,editorial_department,music_department","tt0117786,tt0100961,tt0093944,tt0092260",6.0,6

In [189]:
grouped_data = the_df_to_merge_them_all.groupby(['studio','original_title','domestic_gross', 'year', 'foreign_gross', 'title_id', 'id', 'directors'])
#grouping some sets of data that make sense together

In [175]:
#    DATA ON ACTORS FROM ROTTTEN TOMATOES

actors = clean8.merge(clean1, how='inner', on='title').merge(clean4, how='inner', on='original_title').merge(clean6, how='inner', on='tconst').merge(clean2, how='inner', on='nconst')
actors.insert(0, 'actors_name', actors.pop('primary_name'))
actors.groupby(['actors_name', 'vote_average']).head()
new = actors[['actors_name', 'primary_title', 'release_date','vote_average', 'vote_count', 'category', 'genres' ]].copy()
new.groupby(['actors_name', 'category']).head()

,actors_name,primary_title,release_date,vote_average,vote_count,category,genres
0,Adam F. Goldberg,How to Train Your Dragon,2010-03-26,7.7,7610,writer,"Action,Adventure,Animation"
1,Jay Baruchel,How to Train Your Dragon,2010-03-26,7.7,7610,actor,"Action,Adventure,Animation"
2,Jay Baruchel,The Sorcerer's Apprentice,2010-07-13,5.9,2879,actor,"Action,Adventure,Family"
3,Jay Baruchel,She's Out of My League,2010-03-12,6.1,970,actor,"Comedy,Romance"
4,Jay Baruchel,Goon,2012-02-24,6.5,491,actor,"Comedy,Drama,Sport"
...,...,...,...,...,...,...,...
29830,Marco Polo Constandse,La Boda de Valentina,2018-02-09,6.3,7,director,"Comedy,Romance"
29831,Beto Gómez,La Boda de Valentina,2018-02-09,6.3,7,writer,"Comedy,Romance"
29832,Santiago Limón,La Boda de Valentina,2018-02-09,6.3,7,writer,"Comedy,Romance"
29833,Issa López,La Boda de Valentina,2018-02-09,6.3,7,writer,"Comedy,Romance"
29834,Avelino Rodríguez,La Boda de Valentina,2018-02-09,6.3,7,producer,"Comedy,Romance"

In [141]:
#    NEWEST DATA BASED ON HIGHEST DOMESTIC GROSS SORTED BY TITLE 

clean_combined_df = the_df_to_merge_them_all.sort_values(by='tconst').drop_duplicates(subset='domestic_gross', keep='first').drop_duplicates(subset='tconst').drop(labels='region', axis=1).drop(labels='title_id', axis=1).drop(labels='directors', axis=1).drop(labels='writers', axis=1)
#doing the same thing by dropping duplicates of ID's 
clean_combined_df.sort_values(by='numvotes_x').drop_duplicates(subset='numvotes_x', keep='first').sort_values(by='title')
#duplicates dropped by most recent domestic gross 
#ID do them both in one line if they didn't already look monsterous 
without_useless = clean_combined_df.drop(labels='ordering_x', axis=1).drop(labels='id', axis=1).drop(labels='ordering_y', axis=1).drop(labels='averagerating_x', axis=1).drop(labels='numvotes_x', axis=1).sort_values(by='title')
without_useless.insert(0, 'original_title', without_useless.pop('original_title'))
data_on_numbers = without_useless.sort_values(by='studio')

,original_title,title,studio,domestic_gross,foreign_gross,year,is_original_title,genre_ids,original_language,release_date,...,start_year,runtime_minutes,genres,nconst,category,primary_name,primary_profession,known_for_titles,averagerating_y,numvotes_y
82820,Sea Rex 3D: Journey to a Prehistoric World,Sea Rex 3D: Journey to a Prehistoric World,3D,6100000.0,9900000,2010,0,[99],en,2010-05-14,...,2010,41.0,Documentary,nm1485575,composer,Franck Marchal,"composer,sound_department,producer","tt1529567,tt5595272,tt3635920,tt8381856",6.9,364
25520,Red Obsession,Red Obsession,A23,13200.0,1.4e+06,2013,0,"[99, 36]",en,2013-09-06,...,2013,75.0,"Documentary,History,News",nm0730000,director,David Roach,"writer,producer,miscellaneous","tt0096486,tt1418646,tt0156807,tt2419284",6.7,1167
78131,Revenge of the Electric Car,Revenge of the Electric Car,A23,151000.0,1.4e+06,2011,1,[99],en,2011-10-21,...,2011,90.0,Documentary,nm0000362,self,Danny DeVito,"actor,producer,director","tt0117008,tt0094142,tt0098621,tt0103776",7.2,1692
95062,Barely Lethal,Barely Lethal,A24,6100.0,1.4e+06,2015,1,"[28, 12, 35]",en,2015-04-30,...,2015,96.0,"Action,Adventure,Comedy",nm1766738,producer,John Cheng,"producer,executive","tt2170439,tt1731701,tt1667353,tt1499658",5.4,17473
86436,Life After Beth,Life After Beth,A24,88300.0,1.4e+06,2014,1,"[10749, 35, 27]",en,2014-08-15,...,2014,89.0,"Comedy,Fantasy,Horror",nm2851530,actor,Dane DeHaan,actor,"tt1311071,tt1872181,tt1817273,tt1706593",5.6,17995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144419,Court,Court,Zeit.,22900.0,1.4e+06,2015,0,[18],en,2015-03-26,...,2014,116.0,Drama,nm4058904,director,Chaitanya Tamhane,"writer,producer,director","tt1719631,tt3717068",7.7,3256
104047,The Tree,The Tree,Zeit.,71200.0,2100000,2011,0,"[18, 10751]",en,2017-04-01,...,2010,100.0,"Drama,Romance",nm0664404,writer,Judy Pascoe,"actress,writer","tt0094535,tt1496005,tt0107146,tt0120928",6.6,4204
105351,The Pervert's Guide to Ideology,The Pervert's Guide to Ideology,Zeit.,68000.0,1.4e+06,2013,0,[99],en,2013-11-01,...,2012,136.0,Documentary,nm0276396,composer,Magnus Fiennes,"composer,writer,producer","tt1888075,tt7938588,tt0943642,tt0342258",7.6,5578
120290,Elena,Elena,Zeit.,233000.0,1.4e+06,2012,0,[99],pt,2014-05-30,...,2011,109.0,"Crime,Drama,Thriller",nm2694159,editor,Anna Mass,"editor,editorial_department","tt2802154,tt1925421,tt0488905,tt6304162",7.3,11307
101303,Hannah Arendt,Hannah Arendt,Zeit.,717000.0,1.4e+06,2013,0,[18],de,2013-05-29,...,2012,113.0,"Biography,Drama",nm0005216,actress,Janet McTeer,"actress,writer,producer","tt2674426,tt1587310,tt1602098,tt0161023",7.1,9423

KeyError: 'tconst'